body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;

}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 500px;
    height: auto;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
}